{% extends "layout.html" %}

{% block head %}
    <title>Sobre - Modulo 03</title>
{% endblock %}

{% Block content %}

    <div id="wrapper">
        <h1>RocketSeat</h1>
        <h2>Realizamos o desenvolvimento e a Hospedagem de Sites de pequenos empreendedores</h2>
        <h2>Também fazemos Gestão de Redes Sociais para que foques no que realmente importa: Seus produtos!</h2>
        <p>Quer saber mais? <a href="/contato">Clique aqui</a> e Fale conosco!</p>
    </div>

    <div id="links-footer" class ="links">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
        <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>
        <a href="https://www.youtube.com/c/RocketSeat" target="_blank">YouTube</a>
    </div>

    {% endblock %}