{% extends "layout.njk" %}
{% block head %}
    <title>About - Modulo 03</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">

{% endblock %}
{% block content %}
<div id="wrapper">
    <h2>Aqui você aprende a alcançar o próximo nível com a programação!</h2>
    <p>Quer saber mais?</p>
    <p>Clique abaixo e descubra um novo mundo!</p>
    <a href="/blog.html"><img src="/img/back.png" alt="Boosting people">
    </a>
</div>
<div id="links-footer" class="links">
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
    <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>
    <a href="https://www.youtube.com/c/RocketSeat" target="_blank">YouTube</a>
</div>
{% endblock %}